@page "/AddRecipe"
@inherits AddRecipeBase

<h4>Fill in the following blanks to add new recipe to your database:</h4>
<h4>@ErrorMessage</h4>
<div class="container-md">
	<form>
		<div class="form-group">
			<EditForm Model="RecipeToAdd" OnValidSubmit="AddRecipe_Click">

				<div class="my-4">
					<label for="title" class="form-label">Title:</label>
					<input type="text"
						   class="form-control"
						   name="title"
						   @bind="@RecipeToAdd.Title">
					<ValidationMessage For="@(() => RecipeToAdd.Title)" />
				</div>

				<div>
					<p>Ingredients:</p>
					@foreach (var ingredient in RecipeToAdd.Ingredients)
					{
						<div class="input-group">
							<input type="text" 
								class="form-control" 
								@bind="@ingredient.Name" 
								placeholder="Ingredient Name" />
							<input type="number" 
								class="form-control" 
								@bind="@ingredient.Qty" 
								placeholder="Quantity" />
							<input type="text" 
								class="form-control" 
								@bind="@ingredient.Unit" 
								placeholder="Unit" />
						</div>
					}
					<button class="btn btn-lg green-lg-rounded-btn mt-3" 
							@onclick="AddNewIngredient">Add Ingredient
					</button>
				</div>

				<div class="my-4">
					<label for="notes" class="form-label">Notes:</label>
					<textarea type="text"
							  class="form-control"							 
							  name="notes"
							  @bind="@RecipeToAdd.Notes"></textarea>
				</div>

				<select class="form-select" aria-label="Select a category" @bind="RecipeToAdd.CategoryId">
					@if (categories != null)
					{
						@foreach (var category in categories)
						{
							<option value="@category.Id">@category.CategoryName</option>
						}
					}
				</select>
				<ValidationMessage For="@(() => RecipeToAdd.CategoryId)" />

				<div class="my-4">
					<label for="source" class="form-label">Source:</label>
					<input type="text"
						   name="source"
						   @bind="@RecipeToAdd.Source">
				</div>

				<div>
					<button class="btn btn-lg green-lg-rounded-btn"
							type="submit">
						<b>Add</b>
					</button>
				</div>
			</EditForm>
		</div>
	</form>
</div>
