@page "/AddRecipe"
@inherits AddRecipeBase

<h3>AddRecipe</h3>

<div>
	<label for="title">Title:</label>
	<input type="text" id="title" name="title" @bind="@RecipeToAdd.Title" required>
</div>
<br>
@foreach (var ing in RecipeToAdd.Ingredients)
{
	<div>@ing.Qty&nbsp @ing.Unit&nbsp <b>@ing.Name</b></div>
}
<br>

<div>
	<p>Ingredients:</p>
	@foreach (var ingredient in RecipeToAdd.Ingredients)
	{
		<div>
			<input type="text" @bind="@ingredient.Name" placeholder="Ingredient Name" />
			<input type="number" @bind="@ingredient.Qty" placeholder="Quantity" />
			<input type="text" @bind="@ingredient.Unit" placeholder="Unit" />
		</div>
	}
	<br>
	<button @onclick="AddNewIngredient">Add Ingredient</button>
</div>
<br>

<div>
	<label for="notes">Notes:</label>
	<input type="text" id="notes" name="notes" @bind="@RecipeToAdd.Notes">
</div>
<br>

<div>
	<label for="category">Category:</label>
	<input type="text" id="category" name="category" @bind="@RecipeToAdd.CategoryId">
</div>
<br>

<div>
	<label for="source">Source:</label>
	<input type="text" id="source" name="source" @bind="@RecipeToAdd.Source">
</div>
<br>


<div>
	<button class="btn btn-success"
			@onclick="() => (AddRecipe_Click())">
		<b>Add</b>
	</button>
</div>
 