@page "/Login"
@inherits LoginBase

<h3>Login</h3>

<fieldset disabled="@(Expiration is not null)">
	<EditForm Model="@UserForLogin" OnValidSubmit="LoginUser_Click">
		<div>
			<label for="email">Email:</label>
			<InputText @bind-Value="@UserForLogin.Email" id="email" name="email" required />
		</div>
		<div>
			<label for="password">Password:</label>
			<InputText type="password" @bind-Value="@UserForLogin.Password" id="password" name="password" required />
		</div>
		<div>
			<button type="submit">Login</button>
		</div>
	</EditForm>
</fieldset>

@if (Expiration is not null)
{
	<p>You are logged in until @Expiration?.ToLongTimeString()</p>
}

@if (ErrorMessage is not null)
{
	<p class="error">@ErrorMessage</p>
}

@* <div>
	<button class="btn btn-success"
			@onclick="() => (LoginUser_Click())">
		<b>Login</b>
	</button>
</div>
 *@