@page "/RecipeDetails/{Id:int}"
@inherits RecipeDetailsBase

@if (Recipe == null && ErrorMessage == null)
{
	<DisplaySpinner />
}
else if (ErrorMessage != null)
{
	<DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
	<h1 class="mb-5">@Recipe.Title</h1>
	<button class="btn-primary btn-lg" @onclick="DeleteRecipe_Click">Delete</button>
	<br>
	<button class="btn-primary" @onclick="EditRecipe_Click">Edit</button>
	<br>
	<div class="row">
		<div class="col-md-4">
			<h3>Ingridients: </h3>
			@foreach (IngredientDto ingredient in Recipe.Ingredients)
			{
				<p>@GetIngredientDetails(ingredient)</p>
			}
		</div>
		<div class="col-md-6">
			<p class="mb-4">
				<h4>Notes:</h4>
					@Recipe.Notes
				</p>
			<p class="mb-4">
				<b>Category: </b>
					@Recipe.CategoryName</p>
			<p class="mb-4">
				<b>Created: </b>
				@Recipe.RecipeCreated.ToString("MM/dd/yyyy")
			</p>
			<p class="mb-4">
				<b>Source: </b>
					@Recipe.Source				
			</p>
		</div>
	</div>
}
