@page "/Register"
@inherits RegistrationBase

<div class="text-center">
	<div class="my-2">
		<img src="Images/logo.png" />
		<h3 id="logo_name">Cook It</h3>
	</div>
</div>
<div class="row d-flex justify-content-center">
	<form>
		<div class="form-group custom-col mx-auto">
			<EditForm Model="UserForRegistration" OnValidSubmit="RegisterUser_Click">
				<DataAnnotationsValidator />
				<div class="form-floating my-4">
					<input type="text"
						   class="form-control"
						   id="username"
						   name="username"
						   placeholder="Enter name"
						   @bind="@UserForRegistration.UserName">
					<label for="username" class="form-label">Name:</label>
					<ValidationMessage For="@(() => UserForRegistration.UserName)" />
				</div>

				<div class="form-floating my-4">
					<input type="email"
						   class="form-control"
						   id="email"
						   name="email"
						   placeholder="Enter email"
						   @bind="@UserForRegistration.Email">
					<label for="email" class="form-label">Email:</label>
				</div>

				<div class="form-floating my-4">
					<input type="text"
						   class="form-control"
						   id="password"
						   name="password"
						   placeholder="Enter your password"
						   @bind="@UserForRegistration.Password">
					<label for="password" class="form-label">Password:</label>
					<ValidationMessage For="@(() => UserForRegistration.Password)" />
				</div>

				<div class="form-floating my-4">
					<input type="text"
						   id="passwordconfirm"
						   class="form-control"
						   name="passwordconfirm"
						   placeholder="Confirm your password"
						   @bind="@UserForRegistration.PasswordConfirm">
					<label for="notes">Confirm your password:</label>
					<ValidationMessage For="@(() => UserForRegistration.PasswordConfirm)" />
				</div>
				<div class="text-center">
					<button class="btn btn-lg w-100 orange-btn"
							type="submit">
						<b>Register</b>
					</button>
					<p>
						Already have an account?
						<a href="Login">Log in</a>
					</p>
				</div>
			</EditForm>
		</div>
	</form>

</div>



